.valueMainContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.valueContainer p {
  font-size: 15px;
}

.valueResultContainer {
  border: 1px solid #ddd;
  background-color: #c9c6c673;
  border-radius: 5px;
  padding: 20px;
}

.valueContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}