.valueContainer {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.valueSelectBox {
  font-size: 18px;
}

.valueButton {
  margin-top: 40px;
  padding: 10px;
  font-size: 23px;
  border-radius: 5px;
}

.valueBackButton {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
  font-size: 35px;
  cursor: pointer;
}

.valueContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 50px;
}