.valueMainContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.valueContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 30px;
}

.valueContainer p {
  font-size: 15px;
}

.valueContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}