.valueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.valueImage {
  height: 350px;
  width: 340px;
}

.valueButton {
  padding: 10px;
  font-size: 23px;
  border-radius: 5px;
}

.valueContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 50px;
}